body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100vh;
}

* {
    opacity: 1;
}

p {
    text-align: left;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

h1 {
    font-size: 2rem;
}

img {
    width: 100%;
}

/* Override padding for bootstrap columns */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-right: 0;
    padding-left: 0;
}

#alerts {
    position: fixed;
    top: 2rem;
    z-index: 99999;
}

section#main {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-height: 100vh;
}

/* Login view -------------- */

#login-view {
    position: static;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100vh;
}

#login-view-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url("../img/login2.png") fixed no-repeat;
    background-size: cover;
    filter: brightness(0.6);
    animation: login-glow 5s infinite;
}

@keyframes login-glow {
    0% {
        filter: brightness(0.6);
    }
    50% {
        filter: brightness(0.7);
    }
    100% {
        filter: brightness(0.6);
    }
}

#fade-to-black {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2005;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0;
    transition: opacity 0.5s;
}

#login-flame {
    position: fixed;
    left: 5rem;
    bottom: 8rem;
}

#login-scrolls {
    position: fixed;
    width: 20%;
    right: 1rem;
    bottom: 2rem;
    animation: levitate infinite 4s ease-in-out;
}

#logout-button {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    cursor: pointer;
}

/* -------------------------- */

.col-white {
    color: #fff;
}

.btn.col-white:hover {
    color: #aaa;
}

.col-white a {
    color: #1EAEDB;
}

.col-grey {
    color: gray;
}

.col-green {
    color: green;
}

.col-light-green {
    color: #1ccb1c;
}

.col-yellow {
    color: gold;
}

.col-red {
    color: darkred;
}

.col-light-blue {
    color: #84BCDA;
}

.col-book-purple {
    color: rgba(158, 0, 89, 1) !important;
}

.col-book-blue {
    color: #345995 !important;
}

.col-book-green {
    color: #0B6E4F !important;
}

.col-book-orange {
    color: #CC5803 !important;
}

.col-book-magenta {
    color: #820263 !important;
}

.col-book-light-blue {
    color: #3f909a !important;
}

.col-book-light-green {
    color: #60a024 !important;
}

.btn-light-blue {
    background-color: #4281A4 !important;
    color: #fff;
}

.btn-light-blue:hover {
    color: #ababab;
}

.col-transparent {
    color: rgba(0, 0, 0, 0);
}

.btn-success {
    background-color: rgba(0, 0, 0, 0);
    color: #1ccb1c;
}

.bg-black {
    background-color: #061826 !important;
    background: url("../img/background-darken.jpg") no-repeat fixed !important;
    background-size: cover !important;
}

.gradient {
    background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.5) 100%) fixed;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    border: none !important;
}

.info-box {
    background: url("../img/runestone-texture-seamless.png");
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.info-box textarea {
    background: url("../img/runestone-texture-seamless.png");
    border-color: rgba(255, 215, 0, 0.4) !important;
    color: rgba(255, 215, 0, 0.85);
}

.info-box .btn, .btn-rune {
    background: url("../img/runestone-texture-seamless.png");
    /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);*/
    border-color: rgba(255, 215, 0, 0.6);
    color: rgba(255, 215, 0, 0.7);
    border-style: solid;
    border-width: 1px;
}

.info-box .btn:hover, .btn-rune:hover {
    color: rgba(255, 215, 0, 1);
}

.info-box .btn:focus, .btn-rune:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 215, 0, 0.25);
}

.info-box > * {
    margin: 1rem 1rem;
    padding: 0.7rem 1.1rem;
}

#display-item {
    transform: rotate(-2deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.table-paper {
    text-align: left;
    font-family: 'Pangolin', cursive;
    background-color: #ffffee;
    line-height: 18px;
    box-shadow: 0 0 5px 0 #888;
    padding: 0.7rem 1.1rem;
    margin: 1rem 1rem;
}

.table-paper > * {
    margin: 0.5rem;
}

.table-paper td, th {
    padding: 0.15rem 0.4rem;
}

.table-paper table {
    white-space: nowrap;
}

.paper-green {
    background-color: #eeffff;
}

#task-completed-text:hover i {
    animation: jump 1.4s infinite;
}

/* Animated background text when background-clip: text supported, blue text otherwise. */
.task-description {
    font-family: "Pangolin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #1FD7F6;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url("../img/magic-texture-seamless.png") repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    background-size: 200%;
    animation: moveBackground 35.5s infinite linear, glow 2s infinite linear;
    font-size: 1.2rem;
}

@keyframes moveBackground {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    100% {
        background-position-x: 900px;
        background-position-y: 900px;
    }
}

@keyframes glow {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(0.9);
    }
    100% {
        filter: brightness(1);
    }
}

.task-description {
    padding: 1rem;
}

/* Inventory ------------------- */

#inventory {
    margin-top: 6rem;
}

.wooden-table {
    position: fixed;
    top: 0;
    left: 0;
    background: url("../img/table-darken.png") no-repeat scroll bottom;
    background-size: 75%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.inventory-contents {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.inventory-contents .item {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    transform-origin: 50% 0;
    width: 15rem;
    height: 5rem;
}

.inventory-contents .item .item-icon {
    transform: scale(0.5, 0.5);
    margin: 0 calc((-300px * (1 - 0.7)) / 2) calc(-150px * (1 - 0.7));
}

.inventory-contents .item > .book {
    position: relative;
    top: -1.5rem;
}

.inventory-contents .item > img {
    position: relative;
    top: 0;
    max-height: 20rem;
}

.inventory-contents .item.done p::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    font-size: 2rem;
    position: absolute;
    top: 11.5rem;
    right: 4rem;
    color: gold;
    text-shadow: 0 0 10px #888;
}

.inventory-contents .item.done:hover p::after, .inventory-contents .item:hover p i {
    animation: jump 1.4s infinite;
}

.item p {
    width: 100%;
    text-align: center;
    color: #fff;
}

.item .task-group-color {
    position: absolute;
    left: 4.2rem;
    top: 5.8rem;
}

.highlighted > .item-icon {
    animation: levitate 4s infinite ease-in-out;
}

@keyframes levitate {
    0% {
        transform: translate(0, 0%);
    }
    60% {
        transform: translate(0, -10%);
    }
    100% {
        transform: translate(0, 0%);
    }
}

.clickable-items > * {
    cursor: pointer;
}

body {
    --highlight-size: 5rem;
}

.new-item-highlight {
    width: var(--highlight-size);
    height: var(--highlight-size);
    position: absolute;
    top: 50%;
    left: calc(69.5% - var(--highlight-size));
    z-index: -1;
    animation: full-rotation infinite 12s linear;
    opacity: 0.8;
}

.book + .new-item-highlight .burst-12,
.book + .new-item-highlight .burst-12:before,
.book + .new-item-highlight .burst-12:after {
    width: calc(1.5 * var(--highlight-size));
    height: calc(1.5 * var(--highlight-size));
}

.book + .new-item-highlight {
    top: 50%;
    left: calc(74% - 1.5 * var(--highlight-size));
    transform-origin: calc(1.5 * 50%) calc(1.5 * 50%);
}

.back-button .new-item-highlight .burst-12,
.back-button .new-item-highlight .burst-12:before,
.back-button .new-item-highlight .burst-12:after {
    width: calc(0.5 * var(--highlight-size));
    height: calc(0.5 * var(--highlight-size));
}

.back-button .new-item-highlight {
    top: 0;
    left: 8rem;
    transform-origin: calc(0.5 * 50%) calc(0.5 * 50%);
}

.burst-12 {
    background: rgba(255, 215, 0, 0.9);;
    width: var(--highlight-size);
    height: var(--highlight-size);
    position: relative;
    text-align: center;
}

.burst-12:before, .burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--highlight-size);
    width: var(--highlight-size);
    background: rgba(255, 215, 0, 0.9);
}

.burst-12:before {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}

.burst-12:after {
    transform: rotate(30deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}

@keyframes full-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* -------------------------------- */

.hidden-fadeout {
    opacity: 0;
}

.hidden-fadein {
    opacity: 1;
}

.hidden {
    display: none !important;
    opacity: 0;
}

.view {
    transition: opacity 0.2s ease-in-out;
    width: 100%;
}

#query-input {
    text-align: left;
    width: 75%;
    height: 8rem;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: 'Pangolin', sans-serif;
}

.back-button {
    position: fixed;
    top: 2rem;
    left: 2rem;
    font-size: 1.5rem;
}

.left-sidebar {
    position: absolute;
    left: 2rem;
    top: 20%;
    opacity: 0.3;
    transition: opacity 0.5s;
}

.left-sidebar:hover {
    opacity: 1;
}

.right-sidebar {
    position: absolute;
    right: 2rem;
    top: 20%;
}

.right-sidebar * {
    font-size: inherit;
    transition: font 2s, transform 0.1s ease;
    -webkit-transition: font 2s, transform 0.1s ease;
    -moz-transition: font 2s, transform 0.1s ease;
    -o-transition: font 2s, transform 0.1s ease;
}

#star-indicator {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 0;
    margin: 0;
    transition: transform 0.1s ease;
}

/* Books ------------------------------ */

.book.purple-book {
    border-color: #2a0019;
}

.book.purple-book::after {
    background: radial-gradient(closest-corner, rgba(158, 0, 89, 1) 0%, rgba(124, 0, 70, 1) 60%, rgb(42, 0, 25) 99%, rgb(2, 0, 36) 100%);
    border-color: #2a0019;
}

.book-open.purple-book {
    border-color: rgba(124, 0, 70, 1);
}

.book.blue-book {
    border-color: #020024;
}

.book.blue-book::after {
    background: radial-gradient(closest-corner, #345995 0%, #0f2d5e 60%, #10003b 99%, #020024 100%);
    border-color: #020024;
}

.book-open.blue-book {
    border-color: #0f2d5e;
}

.book.green-book {
    border-color: #001010;
}

.book.green-book::after {
    background: radial-gradient(closest-corner, #0B6E4F 0%, #073B3A 60%, #001d1d 99%, #001010 100%);
    border-color: #001010;
}

.book-open.green-book {
    border-color: #073B3A;
}

.book.orange-book {
    border-color: #1c0900;
}

.book.orange-book::after {
    background: radial-gradient(closest-corner, #CC5803 0%, #933c00 60%, #311100 99%, #1c0900 100%);
    border-color: #1c0900;
}

.book-open.orange-book {
    border-color: #933c00;
}

.book.magenta-book {
    border-color: #11000f;
}

.book.magenta-book::after {
    background: radial-gradient(closest-corner, #820263 0%, #580148 60%, #24001e 99%, #11000f 100%);
    border-color: #11000f;
}

.book-open.magenta-book {
    border-color: #580148;
}

.book.light-blue-book {
    border-color: #00181a;
}

.book.light-blue-book::after {
    background: radial-gradient(closest-corner, #3f909a 0%, #175d66 60%, #04363d 99%, #00181a 100%);
    border-color: #00181a;
}

.book-open.light-blue-book {
    border-color: #175d66;
}

.book.light-green-book {
    border-color: #0d1800;
}

.book.light-green-book::after {
    background: radial-gradient(closest-corner, #60a024 0%, #305a05 60%, #1a3401 99%, #0d1800 100%);
    border-color: #0d1800;
}

.book-open.light-green-book {
    border-color: #305a05;
}

.book {
    display: inline-block;
    background-color: #ffffee;
    width: 12rem;
    height: 15rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 4px;
    position: relative;
    margin-bottom: 1rem;
}

.book::after {
    content: " ";
    vertical-align: middle;
    top: 1px;
    left: -9px;
    position: absolute;
    width: 12rem;
    height: 15rem;
    border-radius: 0.75rem;
    border-style: solid;
    border-width: 2px;
}

.book .book-title {
    text-shadow: 2px -1px 1px rgba(108, 98, 68, 0.74);
    font-family: 'Aclonica', 'Verdana', 'sans-serif';
    padding: 0;
    left: -0.2rem;
    top: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #F2CD60;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.book .book-author {
    text-shadow: 2px -1px 1px rgba(108, 98, 68, 0.74);
    font-family: 'sans-serif';
    margin-top: 1.5rem;
    padding: 0;
    left: -0.2rem;
    bottom: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    color: #F2CD60;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.book-open {
    background-color: #ffffee;
    padding: 1rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 8px;
    position: relative;
    margin-bottom: 1rem;
}

.book-open .page {
    font-family: 'Pangolin', cursive;
    font-size: 1.1rem;
    margin: 1rem;
    height: 23.5rem;
    width: 51rem;
}

.book-open .page:nth-child(2) {
    padding-left: 2rem;
    border-left: #E6DBD0;
    border-left-width: 4px;
    border-left-style: solid;
}

.book-open .table-paper {
    margin: 0;
    padding: 0.5rem 0.2rem;
    /*width: 100%;*/
}

.rotate-2deg {
    transform: rotate(-2deg);
}

#book-available-indicator {
    position: absolute;
    top: -0.5rem;
    right: 2rem;
    text-shadow: black 0 0 5px;
}

#book-available-text {
    position: relative;
    top: -1rem;
}

@media (max-width: 850px) {
    .book-open .page {
        font-family: 'Pangolin', cursive;
        font-size: 1.1rem;
        margin: 0.5rem;
        width: 100%;
    }
}

/* Skill tree ------------------- */

#skill-tree-view {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
}

#skill-tree-view > .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6) !important;
    /*background: url("tree.png") fixed no-repeat;*/
    /*background-position: 41% 40%;*/
    z-index: -1;
}

#skill-tree {
    position: absolute;
    left: 15rem;
    top: -5rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

#skill-tree svg {
    position: absolute;
    transform: translate(-100%, -60%) scale(1) !important;
    z-index: -1;
    pointer-events: none;
}

#skill-tree button {
    position: absolute;
    bottom: 4rem;
    right: 1.3rem;
    z-index: 5000;
    transform: scale(2) rotate(-5deg);
}

#skill-tree .col > * {
    transform: scale(0.5, 0.5);
    margin: 0 0 -9rem; /* Negative margin due to scaling down */
    transition: filter 2s;
}

@media (max-width: 1200px) {
    #skill-tree {
        left: 1rem;
        max-width: calc(100% - 2rem);
    }
}

@media (max-width: 992px) {
    #skill-tree .col > * {
        transform: scale(0.33);
        margin: 0 0 -12rem; /* Negative margin due to scaling down */
    }

    #skill-tree svg {
        transform: translate(-100%, -45%) scale(0.66) !important;
        margin: 0 0 -12rem;
    }

    #skill-tree > .item > p {
        transform: scale(3);
    }
}

@media (max-width: 768px) {
    #skill-tree {
        left: 0;
        top: 0;
        transform: rotate(90deg);
        width: 95vh;
        max-width: 100vh;
    }

    #skill-tree .col {
        width: 100vh;
        max-width: 100vh;
    }

    #skill-tree .item {
        transform: rotate(-90deg) scale(0.33);
    }

    .i18n-skill-point-count {
        font-size: 1rem;
    }
}

#skill-tree .col > .item > p {
    margin-top: 1rem;
    transform: scale(2, 2);
    white-space: nowrap;
}

#skill-tree .col > .item.unlocked > div {
    filter: none;
}

#skill-tree .col > .item.locked > div {
    filter: brightness(30%) grayscale(70%);
    cursor: default;
}

#skill-tree .col > .item > div {
    filter: brightness(40%);
    cursor: pointer;
    transition: transform 0.5s
}

#skill-tree .col > .item > div:hover {
    transform: rotate(3deg) scale(1.5, 1.5);
}

#skill-points {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    font-size: 1.8rem;
    transition: transform 0.1s ease;
}

/* ------------------- */

.jumping-wizard {
    position: absolute;
    top: -12rem;
    left: 35%;
    width: 10rem;
    transform: translate(-50%, -50%);
    animation: jump 1.2s infinite;
}

@keyframes jump {
    0% {
        transform: translate(0, 0%) scale(1, 1);
    }
    5% {
        transform: translate(0, 0%) scale(0.9, 1.1);
    }
    25% {
        transform: translate(0, -35%) scale(1, 1) rotate(-5deg);
    }
    40% {
        transform: translate(0, 0%) scale(1.1, 0.9);
    }
    45% {
        transform: translate(0, 0%) scale(1.1, 0.9);
    }
    75% {
        transform: translate(0, 0%) scale(1, 1);
    }
    100% {
        transform: translate(0, 0%) scale(1, 1);
    }
}

#progress-bar {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    width: 100%;
}

#progress-all-done.active {
    opacity: 1;
}

#progress-bar > .progress {
    height: 2rem;
    font-size: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px black;
}

#progress-bar span {
    position: absolute;
    display: block;
    width: 90%;
    color: #333 !important;
}

#progress-all-done {
    text-shadow: black 0 0 10px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Flame animation from codepen https://codepen.io/2xsamurai/pen/EKpYMg */

#task-descriptor-flame {
    width: 50px;
    height: 0;
    position: relative;
    right: -1rem;
    top: -3.5rem;
    transform: scaleX(1.1);
    transition: transform 0.5s;
    animation: glow 1.7s infinite linear;
}

@media (max-width: 1450px) {
    #task-descriptor-flame {
        right: 0;
        max-width: 15%;
    }
}

@media (max-width: 768px) {
    #task-description {
        margin-left: 25%;
        margin-right: 10%;
    }
}

@keyframes explode {
    0% {
        transform: scale(1) scaleX(1.1);
    }
    2% {
        transform: scaleY(1.1) scaleX(1.4) translateY(-18px);
        filter: hue-rotate(10deg) brightness(120%);
    }
    15% {
        transform: scaleY(1.1) scaleX(1.4) translateY(-18px);
        filter: hue-rotate(10deg) brightness(120%);
    }
    100% {
        transform: scale(1) scaleX(1.1);
    }
}

#task-descriptor-flame .flame {
    background-size: 20px 30px;
}

.flame {
    animation-name: flamefly;
    animation-duration: 1.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    transform-origin: 50% 50% 0;
}

.flame.one {
    animation-delay: 1s;
    animation-duration: 3s;
}

.flame3.two {
    animation-duration: 5s;
    animation-delay: 1s;
}

.flame-main {
    animation-name: flameWobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.flame-main.one {
    animation-duration: 4s;
    animation-delay: 1s;
}

.flame-main.two {
    animation-duration: 3s;
    animation-delay: 2s;
}

.flame-main.three {
    animation-duration: 2.1s;
    animation-delay: 3s;
}

.flame-main.four {
    animation-duration: 3.2s;
    animation-delay: 4s;
}

.flame-main.five {
    animation-duration: 2.5s;
    animation-delay: 5s;
}

@keyframes flameWobble {
    50% {
        transform: scale(1, 1.2) translate(0, -30px);
    }
}

@keyframes flamefly {
    0% {
        transform: translate(0) rotate(180deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-20px, -100px) rotate(180deg);
        opacity: 0;
    }
}

.star-animation {
    position: absolute;
    top: 6rem;
    left: 46%;
    transition: transform 2s;
}